body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;   
    min-height: 100vh;
    max-width: 100%;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

html{
    font-size: 92.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    margin: 0;
    padding: 0;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #c1a7b9;
    padding: 0;
    margin: 0;
    background: #302326;
}    

:root {
    --clr-gradient: #77506ac6;
    --clr-bg: hsla(324, 31%, 13%, 0.928);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

span{
    background: linear-gradient(to right, rgba(233, 165, 216, 0.548),rgba(255, 220, 254, 0.886),rgba(193, 120, 165, 0.987),rgba(255, 220, 254, 0.886),rgba(241, 226, 234, 0.829), rgb(193, 120, 165),rgba(255, 220, 254, 0.886),rgb(193, 120, 165),rgba(255, 220, 254, 0.886),rgba(193, 134, 164, 0.82));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.back-button-container {
    position: fixed;
    top: 104px;
    left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button {
    background: transparent;
    border: none;
}

.back-button img {
    width: 15px;
    height: auto;
    padding: 0;
    transition: filter 0.3s ease;
}

.back-button:hover img{
    filter: invert(15%) sepia(100%) saturate(2050%) hue-rotate(290deg) brightness(100%) contrast(100%);
}

.main-page-content {
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    position: relative;
    top:0; left: 0; right: 0;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.1rem 0.4rem rgba(4, 2, 2, 0.1);
    height: 70px;
}

.main-page-content .logo {
    width: 155px;
    padding: 0;
    margin-left: 0;
}

.main-page-content nav a {
    padding: 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 0.5rem; 
    color: #000000;
}

.main-page-content nav a:hover {
    color: #542e46ab;
}

.main-page-content .icons img {
    width: 43px;
    height: auto;
    margin: 2 3px;
    padding: 10px;
    transition: filter 0.3s ease;
}

.main-page-content .icons img:hover {
    filter: invert(100%) sepia(100%) saturate(2050%) hue-rotate(290deg) brightness(100%) contrast(75%);
}


.spacer {
    height: 30px;
}

.icons-container {
    background: #ffffffee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons {
    background: #ffefefee;
    border: 1 rem solid #000000ee;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 15rem;
}

.icons-container .icons img {
    height: 5rem;
    margin-right: 2rem;
}

.icons-container .icons h3 {
    columns: #333;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}

.icons-container .icons span {
    color: #555;
    font-size: 1rem;
}


.contact {
    min-height: 100vh;
    max-width: 100%;
    padding: 2rem;
    background-color: #ffffff;
    display: block;
}

.contact .heading {
    margin-bottom: 1.6rem;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    height: 500px;
}

.contact-info {
    flex: 1 1 30%;
    background: #e1c8c8;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-info h3 {
    line-height: 3.6;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.contact-info p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.5;
}

.contact-form {
    flex: 1 1 60%;
    background: #e1c8c8;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
    text-align: center;
    font-size: 2.2rem;
    color: #333;
    margin-bottom: 1rem;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-form button {
    padding: 0.75rem;
    font-size: 1rem;
    color: #ffffff;
    background: #77506a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form button:hover {
    background: #542e46;
}


footer {
    background: #77506a;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

.icons a img {
    width: 20px; 
    height: 20px; 
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}